    <!--<nav class="navbar navbar-light">-->
    <!--  <ul class="nav_menu_ul">-->
    <!--    <% if user_signed_in? %>-->
    <!--      <li class="nav_menu_li"><a href="#">トップページ</a></li>-->
    <!--      <li class="nav_menu_li"><a href="#">ログイン</a></li>-->
    <!--      <li class="nav_menu_li"><a href="#">使い方</a></li>-->
    <!--      <li class="nav_menu_li"><a href="#">このサイトについて</a></li>-->
    <!--    <% else %>-->
    <!--      <li class="nav_menu_li"><a href="#">ホーム</a></li>-->
    <!--      <li class="nav_menu_li"><a href="#">用語解説</a></li>  -->
    <!--      <li class="nav_menu_li"><a href="#">使い方</a></li>-->
    <!--      <li class="nav_menu_li"><a href="#">設定</a></li>  -->
    <!--      <li class="nav_menu_li"><a href="#">このサイトについて</a></li>-->
    <!--      <li class="nav_menu_li"><a href="#">ログアウト</a></li>-->
    <!--    <% end %>-->
    <!--  </ul>-->
    <!--</nav>-->
    
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->