<div class="container-fluid">
<!--Section1-title-->
	<br><br><br><br>
	<div class="row text-center">
		<div class="titleA">MONEY</div>
		<div class="titleB">STUDIO</div>
	</div>
	
	<br><br><br><br>
	<div class="description-main text-center">“MONEY_STUDIO”は資産のポートフォリオを管理し見える化するサービス</div>
	<br><br><br><br>
	
	<div class="row">
		<div class="col-md-offset-3 col-md-3">
	        <%= link_to '無料で始める', new_user_path, class: 'btn btn-block btn-white' %>
	    </div>
	    <div class="col-md-3">
	        <%= link_to '使い方を見る', '#', class: 'btn btn-block btn-white' %>
	    </div>
	</div>
	
	
	
<!--Section2-intro-->
	<br><br><br><br>
	<div class="intro1 text-center">
		<div class="description-0">資産のポートフォリオとは…</div>
		<br>
		<div class="description-1">現金だけでなく株式や債券、投資信託、仮想通貨を含めた金融資産の構成のこと。</div>
	</div>
		
	<br><br>
	<div class="row">
		<div class="intro2">
			<p>老後2000万円問題、</p>
			<p>年金問題、</p>
			<p>スタグフレーション、</p>
			<p>お金の問題が多くある日本では</p>
			<p>ただ貯金するだけでは、資産は減っていく。</p>
			<p>そんな日本で暮らすには資産運用は必要不可欠。</p>
		</div>
	</div>
	<br><br>
	<div class="row">	
		<div class="intro3 col-sm-6"><br><br><br><br><br><br></div><!--うまいこと半分から書き始めたい。-->
		<div class="intro3 col-sm-6">
			<p>「投資は怖い」</p>
			<p>「投資は難しい」</p>
			<p>「どうせ失敗する」と、投資を嫌う人は多い。</p>
			<p>正しく資産を管理できれば、</p>
			<p>投資のリスクは最低限に抑えられ、</p>
			<p>将来の不安を取り除き、余裕を作ることができる。</p>
		</div>
	</div>

<!--Section3-skill--> 
	<div class="text-center">
		<br><br>
		<div class="skill-des">”MONEY_STUDIO”で出来ること</div>
		<br><br>
	</div>
	
	<div class="row skill-content">
		<div class="square col-md-4">
			<h3>取引履歴記録</h3>
			<p>取引を繰り返すうちにいくらで買ったのか、</p>
			<p>売ったのか、把握できなくなり損益が分からなくなる。</p>
			<p>売買取引記録を残すことができる。</p>
			<img class="img-fluid" src=https://picsum.photos/230/150 width=" " height=" " alt="">
		</div>
			
		<div class="square col-md-4">
			<h3>運用管理</h3>
			<p>資産運用ではリスクの管理が重要。</p>
			<p>日々の損益の推移を分析し、</p>
			<p>過度にリスクを取った投資を防ぐことができる。</p>
			<img class="img-fluid" src=https://picsum.photos/230/150 width=" " height=" " alt="">
		</div>
			
		<div class="square col-md-4">
			<h3>金融知識学習</h3>
			<p>投資や金融には専門用語も多いため、</p>
			<p>まずは用語の意味や投資の考え方を学ぶことが必要。</p>
			<p>基礎的な知識を学び、ミスを防ぐ。</p>
			<img class="img-fluid" src=https://picsum.photos/230/150 width=" " height=" " alt="">
		</div>
	</div>


<!--Section4-text--->
	<div class="intro3">
		<br><br>
		<div class="row">
			<div class="text-center">
				<p>将来の自分のために</p>
				<p>出来るだけ早く、</p>
				<p>出来るだけリスクを抑えて、</p>
				<p>余裕資金のみで投資に挑戦しよう。</p>
			</div>
		</div>
		<br><br><br><br>
		<div class="row">
			<div class="col-md-offset-3 col-md-3">
		        <%= link_to '無料で始める', new_user_path, class: 'btn btn-block btn-whiteB' %>
		    </div>
		    <div class="col-md-3">
		        <%= link_to '使い方を見る', '#', class: 'btn btn-block btn-whiteB' %>
		    </div>
		</div>
		<br><br><br><br><br><br>
	</div>
</div>
