@import "bootstrap-sprockets";
@import "bootstrap";
@import 'pages';
@import 'users';

/* 全体↓
------------------------------------------------------------*/
body{
  background: #EEEEEE;
}

.container-fluid{
  padding: 0;
}


/* パーツ↓
------------------------------------------------------------*/
.btn-white {
  color: #546465;
  border: 1px solid #546465;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.0);
  
  font-family: "メイリオ" ;
  font-size: 1em;
  letter-spacing: 0.7em;
  font-weight: bold;

  &:hover {
    color: #fff;
    border: 1px solid #fff;
  }
}

.btn-whiteB {
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.0);
  
  font-family: "メイリオ" ;
  font-size: 1em;
  letter-spacing: 0.7em;
  font-weight: bold;

  &:hover {
    color: #fff;
  border: 1px solid #fff;
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/* ナビバー↓
------------------------------------------------------------*/

