/* sec-0_all↓
------------------------------------------------------------*/
div[class*="description"]{
  letter-spacing: 0.7em;
}
.container-fluid{
  font-family: "メイリオ" ;
}

/* sec-1_title↓
------------------------------------------------------------*/
div[class*="title"]{
  font-family: roboto;
  font-size: 2em;
  display: inline;
  padding: 1em;
  letter-spacing: 0.7em;
  font-weight: bold;
}
.titleA{
  background-color: #546465;
  color: #EEEEEE;
}
.titleB{
  background: #EEEEEE;  
  color: #546465;
}

.description-main{
  font-size: 1em;
  font-weight: bold;
}

/* Sec2-intro
------------------------------------------------------------*/
.intro1{
  background-color: #546465;
  color: #EEEEEE;
  padding: 2em;
  width: 100%;
}
.description-0{
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #EEEEEE;
}

.description-1{
  font-size: 1em;
  font-weight: bold;
}

.intro2{
  color: #EEEEEE;
  color: #546465;
  font-size: 1em;
  letter-spacing: 0.5em;
}

.intro3{
  background-color: #546465;
  color: #EEEEEE;
  font-size: 1em;
  letter-spacing: 0.5em;
}
/* Sec3-skill
------------------------------------------------------------*/
.skill-des{
  color: #546465;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #546465;
  letter-spacing: 9px;
  font-weight: bold;
}

.skill-content{
  color: #546465;
  font-size: 0.5em;
  letter-spacing: 0.7em;
}

h3{
  text-align: center;
  color: #546465;
  font-size: 1.1em;
  letter-spacing: 0.7em;
  font-weight: bold;
}

.square {
  padding: 1em;
  height: 300px;
  background: #ffffff;
  // display:inline-block

}

/* Sec4-text
------------------------------------------------------------*/
.last-text{
  background-color: #546465;
  color: #EEEEEE;
  font-size: 1em;
  letter-spacing: 0.5em;
}